body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.myBounties {
    border: 1px solid black;
    margin-top: 10px;
    padding-right: 1em;
}

h2.myBountiesLabel, h2.allBountiesLabel, h2.allQuestionsLabel {
    background: #FFF;
    display: inline-block;
    padding: 0 0.5em;
    position: relative;
    top: -20px;
    left: 20px;
    width: wrap;
}

button.revokeBtn {
    margin-right: 10px;
}

button.answerBtnLg {
    background: #0095FF;
    border: 1px solid #9A9A9A;
    color: #FFF;
    display: inline-block;
    font-size: 1.6em;
    font-style: bold;
    margin-right: 20px;
    height: 36px;
    width: 100px;
    top: 4px;
}

button.answerBtnLg:hover {
    background: #0077CC;
}

div.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.allBounties {
    border: 1px solid black;
    font-size: 1em;
    float: left;
    margin-top: 20px;
    margin-right: 5px;
    width: 49.5%;
}

div.allQuestions {
    border: 1px solid black;
    float: right;
    margin-top: 20px;
    width: 49.5%;
}

/* All Bounties DIV */
div.bountyBox {
    padding: 0 8px;
}

div.bountyBox img.img-responsive.center-block {
    height: 50px;
}

button.answerBtnSm {
    background: #0095FF;
    border: 1px solid #9A9A9A;
    color: #FFF;
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 8px;
    height: 30px;
    width: 80px;
    top: 4px;
}

button.answerBtnSm:hover {
    background: #0077CC;
}

/* All Questions DIV */
div.questionBox {
    padding: 0 8px;
}

div.questionBox img.img-responsive.center-block {
    height: 50px;
}

/* Review Bounties Modal */

p.answer {
    display: inline-block;
    font-weight: bold;
    margin-right: 20px;
}

span.bountyAmount {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 16px;
    padding: 3px 6px;
}

div#reviewModal i.fa-check-circle {
    color: #5EBA7D;
    display: inline-block;
    margin-left: 12px;
    position: relative;
    top: 4px;
}

div.answer {
    border: 1px solid black;
    padding: 8px 12px;
    margin-bottom: 8px;
}

/* Answer Modal */

h3.modal-title {
    display: inline-block;
}

div.modal-body textarea {
    resize: none;
}

div.modal-body button.btn.btn-primary {
    background: #0095FF;
    color: #FFF;
}

/*div.answerBtnModal {
    background: #FFF;
    border: 1px solid black;
    display: none;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 600px;
    width: 800px;
}*/

/* 'Start a Bounty' Modal */

div.bountyInputFields {
    margin: 0 auto;
    width: 430px;
}

div.bountyInputFields label {
    vertical-align: bottom;
}

div.bountyInputFields fieldset {
    height: 40px;
}

#submitBountyForm label {
    margin-right: 8px;
}

/* Bootstrap customizations */
.modal-header, .modal-body, .modal-footer {
    border: none;
}